In [ ]:
"""
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans.A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, manipulation, 
    and management of that data. Databases are used to store and manage large volumes of information for various applications and purposes.
    They provide mechanisms for storing, organizing, querying, updating, and deleting data, ensuring data integrity, security, and scalability.
    
    Differentiating SQL and NoSQL Databases:
    
                     SQL	                                                         NoSQL
    RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                Non-relational or distributed database system.
    These databases have fixed or static or predefined schema	    They have a dynamic schema
    These databases are not suited for hierarchical data storage.	These databases are best suited for hierarchical data storage.
    These databases are best suited for complex queries	            These databases are not so good for complex queries
    Vertically Scalable	                                            Horizontally scalable
    Follows ACID property	                                        Follows CAP(consistency, availability, partition tolerance)
"""

In [ ]:
"""
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans.DDL stands for "Data Definition Language." It is a subset of SQL (Structured Query Language) that is used to define and manage the 
    structure of database objects, such as tables, indexes, views, and schemas. DDL statements are responsible for creating, altering, and 
    deleting database objects. DDL is used to define the logical structure of the database and the relationships between its various 
    components.
    
    Using CREATE, DROP, ALTER, and TRUNCATE with Examples:

   1.Using CREATE  :
   The CREATE statement is used to create new database objects, such as tables, indexes, and views.
   
   CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);

  2.Using DROP :
  The DROP statement is used to remove existing database objects. This action is irreversible and permanently deletes the object and its 
  data from the database.
  
  DROP TABLE Employees;

  3.Usin ALTER : 
  The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns.
  ALTER TABLE Employees
  
  ADD Email VARCHAR(100);
  
  4.Using TRUNCATE :
  The TRUNCATE statement is used to remove all data from a table, but it keeps the table structure intact. It is faster than the DELETE
  statement for removing large amounts of data.
  
  TRUNCATE TABLE Employees;
"""

In [ ]:
"""
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans.DML stands for "Data Manipulation Language." It is a subset of SQL (Structured Query Language) that is used to manipulate and manage 
    the data stored within a database. DML statements are used to insert, update, and delete data in database tables. DML operations allow 
    you to modify the content of the database without altering its structure.
    
    Using INSERT, UPDATE, and DELETE with Examples:
    
   1.Using INSERT :
   The INSERT statement is used to add new rows or records to a database table.
   Ex: Inserting a new employee record into the "Employees" table
   
   INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
   VALUES (1566, 'Avnish', 'RAi', 'Data Science');
   
   2.Using UPDATE :
   The UPDATE statement is used to modify existing records in a table.
   Example: Updating the department of an employee with EmployeeID 1566.
   
   UPDATE Employees
   SET LastNamw = 'Kumar'
   WHERE EmployeeID = 1566;
   
   3.Using DELELTE : 
   The DELETE statement is used to remove one or more rows from a table.
   Example: Deleting an employee record with EmployeeID 1566.
   
   DELETE FROM Employees
   WHERE EmployeeID = 1566;
"""

In [ ]:
"""
Q4. What is DQL? Explain SELECT with an example.
Ans.DQL stands for "Data Query Language." It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. 
    DQL is focused on querying and retrieving information stored within database tables. The primary DQL statement is the SELECT statement, 
    which allows you to specify the data you want to retrieve and any conditions or criteria for filtering the results.
    
    Using SELECT with an Example:
    The SELECT statement is used to retrieve data from one or more database tables. It allows you to specify the columns you want to 
    retrieve and the conditions that must be met for the rows to be included in the result set.
    
    Example: Retrieving information about employees from the "Employees" table who belong to the "HR" department
    
    SELECT EmployeeID, FirstName, LastName
    FROM Employees
    WHERE Department = 'HR';
"""

In [ ]:
"""
Q5. Explain Primary Key and Foreign Key.
Ans.A primary key is a unique identifier for each row in a relational database table. It ensures that each row in the table has a distinct 
    identity and enforces data integrity. The primary key constraint guarantees that no two rows in the table can have the same values in 
    the primary key column(s). Primary keys play a crucial role in maintaining the uniqueness and integrity of the data stored in a table.
    
    A foreign key establishes a relationship between two tables in a relational database. It is a column or set of columns in one table 
    that is used to refer to the primary key in another table. The foreign key creates a link between the data in these tables, enforcing 
    referential integrity. It ensures that values in the foreign key column(s) of one table correspond to existing values in the primary 
    key column(s) of another table.
"""

In [ ]:
"""
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans.cursor(): The cursor() method is used to create a cursor object, which is used to interact with the database. The cursor serves as a 
    handle to execute SQL queries and fetch results from the database. It is an essential component for performing database operations.

    execute(): The execute() method is used to execute SQL queries on the database using the cursor object. The query parameter contains 
    the SQL query to be executed, and the parameters parameter (if used) provides the values to be substituted into the query placeholders. 
    This method is used for executing various types of queries such as SELECT, INSERT, UPDATE, DELETE, etc.
"""
import mysql.connector

avnish_sql = mysql.connector.connect(
    
    host = "your_host",
    user = "your_username",
    password = "your_passwrod"
)

avnish_cursor = avnish_sql.cursor()
avnish_cursor.execute()

In [ ]:
"""
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans.The order of execution of SQL clauses in an SQL query is as follows:

  1.SELECT: The SELECT clause specifies the columns you want to retrieve from the database.
  
  2.FROM: The FROM clause indicates the table(s) from which you are retrieving the data.
  
  3.JOIN: If you're using JOIN clauses to combine data from multiple tables, they are processed after the FROM clause. The order of JOIN 
    clauses matters if you're using multiple joins.
    
  4.WHERE: The WHERE clause is used to filter rows based on specified conditions. It is applied after the data is retrieved from the tables 
    but before grouping and aggregation (if applicable).
    
  5.GROUP BY: If you're using the GROUP BY clause to group data based on one or more columns, this grouping is performed after the WHERE 
    clause.

  6.HAVING: The HAVING clause filters the groups created by the GROUP BY clause based on conditions. It is applied after the grouping.

  7.ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns. It is applied after the previous clauses.

  8.LIMIT/OFFSET: If supported by the database system, the LIMIT and OFFSET clauses are applied at the end to restrict the number of rows 
    returned and to skip a certain number of rows, respectively.
"""